
body { 
font-family: 'Dosis', sans-serif;

}
/* Typography*/

h1 {
	font-size:50px;
	font-weight:300;
	letter-spacing:10px;
	color: rgba(254,153,41,0.7);
	/*rgba(217,95,14,0.7); Darker color which could make it stand out from links??*/
}
h2 { 
	font-weight:300;
	padding-left:20px;
	padding-top:10px;
	font-size:22px;
	color: rgba(255,247,188,1);
	/*rgba(254,196,79,0.7)
	Redder rgba(217,95,14,0.7)*/
}

p {
    font-size:16px;
    color: rgba(255,247,188,1);
    ;
}
    
a {
  color: rgba(254,153,41,0.7);
  text-decoration: none;
  }
a:hover {
  text-decoration: none;
  }
.wax-legends a:hover {
  text-decoration: underline;
  }

.source { font-size: 80%; }

/*Panels*/
.inner {
	padding-left:20px;
	padding-top:15px;
	padding-right: 10px;
}

.toptext {
	padding-left:15px;
	padding-top:9px;
}


/*About section
#about {
	position: absolute;
	height:100%;
	width:25%;
	background-color:rgba(2,2,0,0.7);
	top: 50px;
 	left:120px;
	color: #fea;
	z-index: -3;
}*/

/*header and layerswitcher */
#heading {
	position: absolute;
	height: 70px;
	width:100%;
	top:0;
	left:0;
	background-color:rgb(2,2,0);
	background-color:rgba(2,2,0,0.82);
	z-index:0;
}

#leftpane {
	height:100%;
	position: absolute;
	left:0;
	top:70px;
	width:270px;
	background-color:rgba(2,2,0,0.7);
	padding: 0;
	margin:0;
	overflow: visible;
	/*padding-left:10px;*/
  }
.layerswitcher {
  height:370px;
  padding-left:10px;
  /*border-left:2px solid rgba(255,247,188,1);*/
  }
.border-bar {
  background-color: #FFF7BC;
  width: 2px;
  height: 335px;
  position: absolute;
  left: 230px;
  top: 35px;
  }
#assault.border-bar   { top: 70px; height: 300px; }
#arson.border-bar     { top: 105px; height: 265px;}
#burglary.border-bar  { top: 140px; height: 230px;}
#homicide.border-bar  { top: 175px; height: 195px;}
#robbery.border-bar  { top: 210px; height: 160px;}
#sexual.border-bar  { top: 245px; height: 125px;}
#cars.border-bar  { top: 280px; height: 90px;}
#theft.border-bar  { top: 315px; height: 55px;}

 
.layerswitcher li { 
	padding-top:5px;
	padding-left: 0px;
	padding-right:40px;
	}
.layerswitcher li a {
	display: block;
	font-size:30px;
	z-index:0;
	padding: 0px 10px;
	}
	.layerswitcher li a:hover {
		color: rgba(255,247,188,1);
		}

.layerswitcher li a.active {
	background-color:rgba(46,46,45,0.0);
	color: rgb(255,247,188);
	border-bottom:2px solid rgb(255,247,188);
  }
.layerswitcher li.first-child a {
    padding-left: 0px;} /*why doesn't this work?*/

.crimeinfo {
	top:370px;
	border-top:2px solid rgba(255,247,188,1);
	height:100%;
	background-color:rgba(2,2,0,0.3);	
  }

/*Map*/
#mymap {
	top:0;
	right:0;
	position: absolute;
	height:100%;
	width:100%;
	z-index:-1;
}