
body { 
font-family: 'Dosis', sans-serif;


}
/* Typography*/

h1 {
	font-size:50px;
	font-weight:300;
	letter-spacing:10px;
	color: #C98233;
	/*rgba(217,95,14,0.7); Darker color which could make it stand out from links??*/
}
h2 { 
	font-weight:300;
	padding-left:20px;
	padding-top:10px;
	font-size:22px;
	color: rgb(255,247,188);
	/*rgba(254,196,79,0.7)
	Redder rgba(217,95,14,0.7)*/
}

h3 {
  font-weight:300;
  font-size:20px;
  padding-left:5px;
  padding-right:5px;
  padding-top:0px;
	color: #C98233;
	text-align:center;
	letter-spacing:2px;
}

p {
    padding-bottom:7px;
    font-size:16px;
    color: rgb(255,247,188);
    ;
}
    
a {
  color: #C98233;
  text-decoration: none;
/*  padding-top:5px;*/
  }
a:hover {
  text-decoration: none;
  }
.wax-legends a:hover {
  text-decoration: underline;
  }

.source { font-size: 80%; }

/*Panels*/
.inner {
	padding-left:20px;
	padding-top:15px;
	padding-right: 20px;
}

.inner span {
  color:#FC4E2A;
}

.toptext {
	padding-left:15px;
	padding-top:9px;
}


/*About section
#about {
	position: absolute;
	height:100%;
	width:25%;
	background-color:rgba(2,2,0,0.7);
	top: 50px;
 	left:120px;
	color: #fea;
	z-index: -3;
}*/

/*header and layerswitcher */
#heading {
	position: absolute;
	height: 70px;
	width:100%;
	top:0;
	left:0;
	background-color:#2E2E2D;
	background-color:rgba(2,2,0,0.82);
	z-index:0;
}

#zoom {
  position: absolute;
  top:70px;
  left:280px;
  height:20px;
  width:65px;
	background-color:#4C4C4B;
	background-color:rgba(2,2,0,0.7);
}

#leftpane {
  bottom:0;
	position: fixed;
	left:0;
	top:70px;
	width:270px;
	background-color:#4C4C4B;
	background-color:rgba(2,2,0,0.7);
	padding: 0;
	margin:0;
	overflow: visible;
	/*padding-left:10px;*/
  }
.layerswitcher {
  height:330px;
  padding-left:10px;
  /*border-left:2px solid rgba(255,247,188,1);*/
  }
 
.layerswitcher li { 
	padding-top:5px;
	padding-left: 0px;
	padding-right:40px;
	}

.layerswitcher li a {
   display: block;
   font-size:30px;
   z-index:0;
   padding: 0px 10px;
   }

 .layerswitcher li a:hover {
 	color: rgba(255,247,188,1);
 	}

.layerswitcher li a.active {
	background-color:rgba(46,46,45,0.0);
	color: rgb(255,247,188);
	border-bottom:2px solid rgb(255,247,188);
  }


.crimeinfo {
	top:0;
	position:relative;
	height:100%;
	width:100%;
	left:0;
	border-top:2px solid rgb(255,247,188);
	border-bottom:2px solid rgb(255,247,188);
	background-color:#353534;
	background-color:rgba(2,2,0,0.3);
  }
  #credit {
    padding-left: 5px;
    bottom:0px;
    left:40px;
    width:195px;
    height:20px;
    font-size:12px;
    position:absolute;
    text-align:left;
    color:#666;
  }
  
  #credit a {color: #999}

#mapby {
  padding-top:4px;
  padding-bottom:2px;
  padding-right:5px;
  font-size:105%;
  text-align:center;
  position:absolute;
  bottom:30px;
  left:35px;
  width:195px;
  height:25px ;
  background-color:gray;
  color:black;
  -webkit-border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-box-shadow: 0 0 10px 1px #888;
  -webkit-box-shadow: 0 0 10px 1px #888;
  box-shadow: 0 0 10px 1px #888;
}

#mapby span {
    color: white;
    font-size: 20px;
    left: 20px;
    /*padding: 5px 0;*/
    padding-bottom:3px;
    position: absolute;
    text-align: center;
  }
    
#mapby  span:last-child {
          background: gray ;
          opacity: 0;
  }
#mapby  span:first-child:hover {
          opacity:0;
   }
#mapby  span:last-child:hover {
        opacity:1;}

/*
#mapby:hover {
  background:rgb(120,120,120);
}*/



/*border bar*/
.border-bar {
  background-color: #FFF7BC;
  width: 2px;
  height: 295px;
  position: absolute;
  left: 230px;
  top: 35px;
  z-index:30;
  }
#assault.border-bar   { top: 70px; height: 260px; }
#arson.border-bar     { top: 105px; height: 225px;}
#burglary.border-bar  { top: 140px; height: 190px;}
#homicide.border-bar  { top: 175px; height: 155px;}
#robbery.border-bar  { top: 210px; height: 120px;}
#sexual.border-bar  { top: 245px; height: 85px;}
#cars.border-bar  { top: 280px; height: 50px;}
#theft.border-bar  { top: 315px; height: 15px;}



/*Map*/
#mymap {
	top:0;
	right:0;
	position: absolute;
	height:100%;
	width:100%;
	z-index:-1;
}

/*facebook twitter links*/
/* to do: consolidate this styling*/
#facebook a{
  left:275px;
  top: 75px;
  -webkit-border-radius: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 10px;
  text-decoration:none;
  position:absolute;
  color: rgb(255,247,188);
  /*color: rgb(60,90,152);*/
  line-height:23px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:25px;
  height:25px;
  	background-color:#4C4C4B;
  	background-color:rgba(2,2,0,0.7);
  }

#twitter a{
  left:305px;
  top:75px;
  -webkit-border-radius: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 3px;
  text-decoration:none;
  position:absolute;
  color: rgb(255,247,188);
  /*color: #9AE4E8; twitter color*/
  line-height:23px;
  font-size:20px;
  z-index:99999;
  text-align:center;
  width:25px;
  height:25px;
  	background-color:#4C4C4B;
  	background-color:rgba(2,2,0,0.7);
  }

#twitter a:hover {
    background-color:rgb(100,100,90);
	background-color:rgba(40,40,40,0.7); }
	
  #facebook a:hover {
    background-color:rgb(100,100,90);
  	background-color:rgba(40,40,40,0.7); }